body {
  margin: 0px;
  background-color: rgb(190, 134, 50);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: url("images/andys_room.jpg");
  margin: 20px;
  border-radius: 15px;
  border: 30px solid rgb(185, 183, 166);
}

img {
  display: none;
}
